<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FacturaElectronica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
	  <add key="SignoDecimalSQLServer" value="."/>
	  <add key="CrearLog" value="1"/>
	  <add key="RefrescarCada" value="10"/> <!-- en minutos, mínimo 10 -->
	  <add key="cnSictert" value="3lTmWxIvPSUdb/b9JBUYNncQ3ETKqyarS2JNXcAq+8tFJfdhNsFO77cxen8QNrN6BgIlGLiJ/h8PmvqgJXB8lJaYhodnp8+IsGHoWMvggJQOxgDRODNMKO17UeUB1QpwraqDDIVxyWGWgI2InVGypL9kor0E0q85"/>
	  <add key="pathDocs" value="DocumentosElectronicos"/>
	  <add key="pathP12" value="FirmasElectronicas"/>
	  <add key="codigoNumerico"  value="12345678"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <applicationSettings>
    <FacturaElectronica.Properties.Settings>
      <setting name="SiCtert_FacturaElectrónica_wsAutorizacionSRI_AutorizacionComprobantesOfflineService"
        serializeAs="String">
        <value>https://celcer.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantesOffline</value>
      </setting>
      <setting name="SiCtert_FacturaElectrónica_wsRecepcionSRI_RecepcionComprobantesOfflineService"
        serializeAs="String">
        <value>https://celcer.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantesOffline</value>
      </setting>
    </FacturaElectronica.Properties.Settings>
  </applicationSettings>
</configuration>