<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SignoDecimalSQLServer" value="."/>
    <add key="CrearLog" value="1"/>
    <add key="RefrescarCada" value="10"/> <!-- en minutos, mínimo 10 -->
    <add key="cnSictert" value="3lTmWxIvPSVOD5L8z6vNgXSubj/wURp12XfrVn+KJwoCNXoHoSLQJDK7Qb44X0RptVF3Z2ya6+jWo18g4FhFS0qDQpWKY1aC48M5t6KJaad+JEDFhiWrOk6oZ8bG+jr3y/q4gly5vb4EWtj844H7fw=="/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>